body {
	font-family: 'Gentium Book Basic', serif;
	font-size: 16px;
	color: #282828;
	letter-spacing: 1px;
}

.wrap {
	margin: 0px 300px;
	text-align: justify;
}

nav {
	padding-top: 15px;
	width: 100%;
}

#werewolf {
	width: 15%;
	padding: 32px;
}

a {
	text-decoration: none;
	font-weight: 700;
	color: #282828;
	font-family: 'Lato', sans-serif;
}

p a {
	color: red;
}


// D R Y

#werewolf, .headerDesc {
	margin: auto;
}

header h1 span {
	background: red;
	padding: 6px 12px;
}
