nav ul {
	padding-left: 0px;
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: table-cell;
	width: auto;
}

nav ul li a {
	padding-right: 20px;
}

header p {
	line-height: 30px;
	width: auto;
	text-align: justify;
}

.headerDesc {
	width: 400px;
	padding-top: 4px;
}

header h1 {
	text-align: center;
	color: white;
}



